## ---------- Public Environment Variables ----------
NEXT_PUBLIC_CURRENCY=$

# Mongodb
MONGODB_URI='-------- MongoDB URI --------'

# Clerk
CLERK_SECRET_KEY='-------- Clerk Secret Key --------'
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY='-------- Clerk Publishable Key --------'

# Inngest Setup
INNGEST_SIGNING_KEY='-------- Inngest Signing Key --------'
INNGEST_EVENT_KEY='-------- Inngest Event Key --------'

# Cloudinary
CLOUDINARY_CLOUD_NAME='-------- Cloud Name --------'
CLOUDINARY_API_KEY='-------- API Key --------'
CLOUDINARY_API_SECRET='-------- API Secret --------'

# Razorpay
NEXT_PUBLIC_RAZORPAY_KEY_ID='------- Key ID -------'
RAZORPAY_KEY_ID='------- Key ID -------'
RAZORPAY_KEY_SECRET='------- Key Secret -------'
